<div class="patch_note-description-wrapper">
  <div class="patch_note-description">
    <h2>The new update is here!</h2>
    <p>Click button to see what's new in your favorite app :)</p>
    <div class="form-field">
      <%= link_to "Show Me, Show Me, Show Meeeeee!", "#{request.base_url}/about?new_patch_note=t", class: "button button-green" %>
    </div>
  </div>
</div>