<h1>To Do</h1>


<div class="things-wrapper">
  <% @things.each do |thing| %>
    <div class="thing-outer-wrapper">
      <div class="thing-wrapper js_thing-<%= thing.id %>">
        <%= render 'things/thing', thing: thing %>
      </div>
    </div>
  <% end %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddThing', new_thing_path, class: "button button-green fixed-control" %>