//CHRISTMAS
.background-pattern-christmas_one{
  background-image: image-url("christmas_backgrounds/bg-1.png");
}
.background-pattern-christmas_two{
  background-image: image-url("christmas_backgrounds/bg-2.png");
}
.background-pattern-christmas_three{
  background-image: image-url("christmas_backgrounds/bg-3.png");
}
.background-pattern-christmas_four{
  background-image: image-url("christmas_backgrounds/bg-4.png");
}
.background-pattern-christmas_five{
  background-image: image-url("christmas_backgrounds/bg-5.png");
}
.background-pattern-christmas_six{
  background-image: image-url("christmas_backgrounds/bg-6.png");
}

.background-option{
  background-size: 150px;
}

@media only screen and (max-width: $medium) {
  body[class^="background-pattern-"] {
    background-size: 300px;
  }
}