.background-pattern-default{
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);
  text-overflow: clip;
  background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(200,0,0,0.498039) 50%, rgba(200,0,0,0.498039) 0), #FFFFFF;
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px;
}

.background-pattern-blue{
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);
  text-overflow: clip;
  background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,100,0.498039) 50%, rgba(0,0,100,0.498039) 0), linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,100,0.498039) 50%, rgba(0,0,100,0.498039) 0), #FFFFFF;
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px;
}

.background-pattern-green{
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);
  text-overflow: clip;
  background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,100,0,0.498039) 50%, rgba(0,100,0,0.498039) 0), linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,100,0,0.498039) 50%, rgba(0,100,0,0.498039) 0), #FFFFFF;
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px;
}

.background-pattern-gray{
  box-sizing: content-box;
  border: none;
  color: rgba(255,255,255,1);
  text-overflow: clip;
  background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(30,30,30,0.498039) 50%, rgba(30,30,30,0.498039) 0), linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(30,30,30,0.498039) 50%, rgba(30,30,30,0.498039) 0), #FFFFFF;
  background-position: auto auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 50px 50px;
}

.background-pattern-polka_dot_green{
  background-color:#1b5e20;
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size:90px 90px;
  background-position: 0 0, 45px 45px;
}

.background-pattern-polka_dot_blue{
  background-color:#0a0b28;
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size:90px 90px;
  background-position: 0 0, 45px 45px;
}

.background-pattern-polka_dot_brown{
  background-color:#3e2723;
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size:90px 90px;
  background-position: 0 0, 45px 45px;
}
.background-pattern-polka_dot_yellow{
  background-color:#fbc02d;
  background-image: radial-gradient(white 15%, transparent 16%),
  radial-gradient(white 15%, transparent 16%);
  background-size:90px 90px;
  background-position: 0 0, 45px 45px;
}

.background-pattern-note_book{
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.background-pattern-madras_pink{
  box-sizing: content-box;
  border: none;
  color: rgb(255, 255, 255);
  text-overflow: clip;
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0) 5px, rgba(10,35,45,0.498039) 5px, rgba(10,35,45,0.498039) 10px, rgba(211,119,111,0) 10px, rgba(211,119,111,0) 35px, rgba(211,119,111,0.498039) 35px, rgba(211,119,111,0.498039) 40px, rgba(10,35,45,0.498039) 40px, rgba(10,35,45,0.498039) 50px, rgba(10,35,45,0) 50px, rgba(10,35,45,0) 60px, rgba(211,119,111,0.498039) 60px, rgba(211,119,111,0.498039) 70px, rgba(247,179,84,0.498039) 70px, rgba(247,179,84,0.498039) 80px, rgba(247,179,84,0) 80px, rgba(247,179,84,0) 90px, rgba(211,119,111,0.498039) 90px, rgba(211,119,111,0.498039) 110px, rgba(211,119,111,0) 110px, rgba(211,119,111,0) 120px, rgba(10,35,45,0.498039) 120px, rgba(10,35,45,0.498039) 140px), repeating-linear-gradient(135deg, rgba(0,0,0,0) 5px, rgba(10,35,45,0.498039) 5px, rgba(10,35,45,0.498039) 10px, rgba(211,119,111,0) 10px, rgba(211,119,111,0) 35px, rgba(211,119,111,0.498039) 35px, rgba(211,119,111,0.498039) 40px, rgba(10,35,45,0.498039) 40px, rgba(10,35,45,0.498039) 50px, rgba(10,35,45,0) 50px, rgba(10,35,45,0) 60px, rgba(211,119,111,0.498039) 60px, rgba(211,119,111,0.498039) 70px, rgba(247,179,84,0.498039) 70px, rgba(247,179,84,0.498039) 80px, rgba(247,179,84,0) 80px, rgba(247,179,84,0) 90px, rgba(211,119,111,0.498039) 90px, rgba(211,119,111,0.498039) 110px, rgba(211,119,111,0) 110px, rgba(211,119,111,0) 140px, rgba(10,35,45,0.498039) 140px, rgba(10,35,45,0.498039) 160px), rgb(234, 213, 185);
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto;
}

//CHRISTMAS
.background-pattern-christmas_one{
  background-image: url("1.png");
}
.background-pattern-christmas_two{
  background-image: url("2.png");
}
.background-pattern-christmas_three{
  background-image: url("3.png");
}
.background-pattern-christmas_four{
  background-image: url("4.png");
}

// NOT YET FINISHED
$madras-color-one: rgba(0,80,70,0.5);
$madras-color-three: rgba(10,119,60,0.5);
$madras-color-five: rgba(17,50,124,0.5);
$madras-color-seven: rgb(255, 255, 255);
$madras-color-six: rgba(0,0,0,0);
$madras-color-four: rgba(255,255,255,0);
$madras-color-two: rgba(220,119,220,0);

.background-pattern-madras_green{
  box-sizing: content-box;
  border: none;
  color: rgb(255, 255, 255);
  text-overflow: clip;
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0) 5px, $madras-color-one 5px, $madras-color-one 10px, $madras-color-two 10px, $madras-color-two 35px, $madras-color-three 35px, $madras-color-three 40px, $madras-color-one 40px, $madras-color-one 50px, $madras-color-six 50px, $madras-color-six 60px, $madras-color-three 60px, $madras-color-three 70px, $madras-color-five 70px, $madras-color-five 80px, $madras-color-four 80px, $madras-color-four 90px, $madras-color-three 90px, $madras-color-three 110px, $madras-color-two 110px, $madras-color-two 120px, $madras-color-one 120px, $madras-color-one 140px), repeating-linear-gradient(135deg, rgba(0,0,0,0) 5px, $madras-color-one 5px, $madras-color-one 10px, $madras-color-two 10px, $madras-color-two 35px, $madras-color-three 35px, $madras-color-three 40px, $madras-color-one 40px, $madras-color-one 50px, $madras-color-six 50px, $madras-color-six 60px, $madras-color-three 60px, $madras-color-three 70px, $madras-color-five 70px, $madras-color-five 80px, $madras-color-four 80px, $madras-color-four 90px, $madras-color-three 90px, $madras-color-three 110px, $madras-color-two 110px, $madras-color-two 140px, $madras-color-one 140px, $madras-color-one 160px), $madras-color-seven;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: auto auto;
}



[class^="background-pattern-"] {
  background-attachment: fixed;
}
