/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
  color: $base-font-color;
  background: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
  padding-bottom: 150px;
}

main{
  padding: 200px 10% 100px 10%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
  display: inline-block;
  outline: 0;
}

input{
}

input{
  font-family: $base-font-family;
}

.notice-wrapper{
  position: relative;
  background: $green;
  padding: 20px;
  right: -200px;
  border-radius: 60px
}

.notice{
  border: 3px dashed $white;
  color: $white;
  background: $green;
  padding: 15px 20px 15px 20px;
  border-radius: 40px;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}