<h1>JukeBox</h1>

<div class="js-songs">
  <%= render 'songs/songs' %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddSong', new_song_path, class: "button button-green fixed-control" %>