<h1>JukeBox</h1>

<div class="resource-filter">
  <div class="resource-filter-outer-wrapper">
    <div class="resource-filter-wrapper">
      <div class="resource-filter-element">
        <div class="resource-filter-button-label">Play Random</div>
        <%= link_to "", "/jukebox?page=#{rand(1..@songs.total_pages)}&random=t", class: "resource-filter-button js-random_button", remote: true %>
      </div>
      <div class="resource-filter-element">
        <div class="resource-filter-button-label">Time Travel</div>
        <%= link_to "", song_of_the_days_path, class: "resource-filter-button" %>
      </div>
    </div>
  </div>
</div>

<div class="js-songs">
  <%= render 'songs/songs' %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddSong', new_song_path, class: "button button-green fixed-control" %>