<h1>JukeBox</h1>
<%= link_to "Play Random", "/jukebox?page=#{rand(1..@songs.total_pages)}&random=t", class: "button button-green js-random_button", remote: true %>

<div class="js-songs">
  <%= render 'songs/songs' %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddSong', new_song_path, class: "button button-green fixed-control" %>