<h1>JukeBox</h1>

<div class="form-field">
  <div class="form-field-outer-wrapper">
    <div class="form-field-wrapper" style="padding: 3px;">
      <div class="pagination-wrapper">
        <%= link_to "Play Random", "/jukebox?page=#{rand(1..@songs.total_pages)}&random=t", class: "button button-brown js-random_button", remote: true %>
        <%= link_to "Time Travel", song_of_the_days_path, class: "button button-brown js-random_button" %>
      </div>
    </div>
  </div>
</div>

<div class="js-songs">
  <%= render 'songs/songs' %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddSong', new_song_path, class: "button button-green fixed-control" %>