.alert-error-list{
  text-align: center;
}
  .error-wrapper{
    padding: 3px;
    background-color: $red;
    display: inline-block;
    border-radius: 50px;
    margin: 5px;
  }
    .error{
      font-size: 30px;
      padding: 10px 30px;
      color: $white;
      background-color: $red;
      display: inline-block;
      margin: 10px;
      border: 2px dashed $white;
      border-radius: 35px;
    }

.error-page-title{
  font-family: $heading-font-family;
  font-size: 80px;
  text-shadow: -1px 0 $brown, 0 1px $brown, 1px 0 $brown, 0 -1px $brown;
  text-align: center;
  margin-top: 20%;
}

.error-page-description{
  text-align: center;
  .text-outer-wrapper{
    margin-top: 15px;
  }
}