.alert-error-list{
  text-align: center;
}
  .error-wrapper{
    padding: 3px;
    background-color: $red;
    display: inline-block;
    border-radius: 50px;
    margin: 5px;
  }
    .error{
      font-size: 30px;
      padding: 10px 30px;
      color: $white;
      background-color: $red;
      display: inline-block;
      margin: 10px;
      border: 2px dashed $white;
      border-radius: 35px;
    }