.devise-header{
  background-color: rgba(42,88,55,0.9);
  padding-bottom: 15px;
  transition: 0.3s all ease-out;
  margin-bottom: 20px;
}

.header{
  background-color: rgba(42,88,55,0.9);
  transition: 0.3s all ease-out;
  box-shadow: 0px 1px 1px white;
}

.devise-header:hover, .header:hover{
  background-color: rgba(42,88,55,1);
}

.header-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

 @media only screen and (max-width: $medium) {
    nav.nav{
      display: none;
    }
    div.mobile_nav-wrapper{
      display: block;
    }
    label.mobile_nav{
      display: block;
    }
}