.nav-title-wrapper{
  display: flex;
  align-items: center;
}

.nav-title-icon{
  width: 40px;
}

.nav-title{
  width: 30%;
  //float: left;
  font-size: 45px;
  padding: 5px 30px 0 0px;
  margin: 0;
  color: $white;
  transition: 0.3s color ease-in;
}
.nav-title:hover{
  color: lighten($white, 30%);
}
.nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 10px;
}

.nav-link{
  cursor: pointer;
  overflow: hidden;
  border: 2px $white;
  text-align: center;
  color: $white;
  border-bottom: 2px dashed transparent;
  transition: all 0.2s ease-in;
  margin: 0 15px;
  font-size: 20px;
}

.nav-link:active {
  border-bottom: $white;
}


.nav-link:hover, .nav-link:focus{
  border-bottom: 2px dashed $white;
  transition: all 0.3s ease-in;

}

.nav-link-wrap {

}
