<h1>Christmas Poem</h1>
<div class="center-inblock">
	<div class="poem-outer_wrapper finished">
		<div class="poem-inner_wrapper">
			<div class="poem">
				<div class="poem-verse">
					<div class="poem-line">
						Kraj <span class="poem-keywords">kamina</span> sjedili su, <span class="poem-keywords">pudinge</span>	su jeli,
					</div>
					<div class="poem-line">
						Kad su vidjeli kroz <span class="poem-keywords">prozor</span> gusti <span class="poem-keywords">snijeg</span> bijeli.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Navukli su <span class="poem-keywords">kapu</span>, <span class="poem-keywords">rukavice</span> na ruke,
					</div>
					<div class="poem-line">
						I debele <span class="poem-keywords">hlače</span> da im ne <span class="poem-keywords">ozebe</span> dupe.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Skupljali su <span class="poem-keywords">pahulje</span> da <span class="poem-keywords">snješka</span> ožive,
					</div>
					<div class="poem-line">
						Pjevušili su <span class="poem-keywords">zvončiće</span> dok išli su na <span class="poem-keywords">pive</span>.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						<span class="poem-keywords">Čizme</span> svaki metar su otresali do <span class="poem-keywords">kuće</span>,
					</div>
					<div class="poem-line">
						Gdje su se grijali uz <span class="poem-keywords">kekse</span> i <span class="poem-keywords">čokolade vruće</span>.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Šarenim su <span class="poem-keywords">kuglama</span> ukrasili <span class="poem-keywords">grane</span>,
					</div>
					<div class="poem-line">
						Zelenoga <span class="poem-keywords">bora</span> koji <span class="poem-keywords">svijetli</span> na sve strane.
					</div>
				</div>
				<div class="poem-verse">
					<div class="poem-line">
						Pored <span class="poem-keywords">okićenog bora</span> ljubili se ispod <span class="poem-keywords">imele</span>,
					</div>
					<div class="poem-line">
						Osli u <span class="poem-keywords">krevet</span> čekat Božić koji svima <span class="poem-keywords">sretan</span> žele.
					</div>
				</div>
			</div>
	        <%= link_to "Compose Again", compose_path, class: "button button-blue" %>
			<%= link_to "Go back home", root_path, class: "button button-red js_compose_button" %>
		</div>
	</div>
</div>
