<div class="error-page-title">Four, ohh Four</div>
<div class="error-page-description">
  <div class="text-outer-wrapper">
    <div class="text-wrapper">
      I'm sorry but i can't find the page you are looking for :(
    </div>
  </div></br>
  <%= link_to "Return Home", root_path, class: "button button-blue" %>
</div>