<div class="error-page-title">Error 422</div>
<div class="error-page-description">
  <div class="text-outer-wrapper">
    <div class="text-wrapper">
      Something went wrong :(
    </div>
  </div></br>
  <%= link_to "Return Home", root_path, class: "button button-blue" %>
</div>