<div class="error-page-title">error 500, the worst one</div>
<div class="error-page-description">
  <div class="text-outer-wrapper">
    <div class="text-wrapper">
      Please remember what you did before this screen and contact Vedran so he can fix it.
    </div>
  </div></br>
  <%= link_to "Return Home", root_path, class: "button button-blue" %>
</div>