.countdown_clock{
  display: flex;
}

.digits{
  font-size: 40px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: $green;
  color: $white;
}

.digits-inner-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  height: 130px;
  font-size: 25px;
  text-align: center;
  color: $brown;
  border: 2px dashed black;
  border-radius: 10px;
  padding: 5px;
}

.digits-outer-wrapper{
  margin: 5px;
  padding: 10px;
  background-color: $white;
  border-radius: 15px;
  margin-bottom: 50px;
}

.countdown-clock-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: $medium) {
  .countdown_clock{
    //background-color: $white;
    //padding: 5px;
    //border-radius: 50px;
  }
  .digits-wrapper{
    width: 100%;
    border-radius: 50px;
    //border: dashed 2px $brown;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  .text_digit-outer_wrapper{
    background-color: $green;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
  }
  .text_digit-wrapper{
    border: 2px $white dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    color: $white;
    border-radius: 50%;
  }
  .smalltext{
    font-size: 15px;
  }
  .digits{
    background-color: transparent;
    height: auto;
    width: auto;
    font-size: 25px;
    line-height: 1.1;
  }
}