.alert-box{
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

.success{
  color: white;
  background-color: $green;
}

.alert{
  color: white;
  background-color: $red;
}