/*------------------------------------*\
** RESOURCE FILTER WRAPPER
\*------------------------------------*/

.resource-filter{
  width: 100%;
  text-align: center;
}

.resource-filter-outer-wrapper{
  display: inline-block;
  padding: 5px;
  background-color: $white;
  border-radius: 50px;
  margin: 15px auto;
}

.resource-filter-wrapper{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: $white;
  padding: 10px;
  border-radius: 50px;
  border: 2px $brown dashed;
  text-align: center;
}

/*------------------------------------*\
** RESOURCE FILTER ELEMENTS
\*------------------------------------*/

.resource-filter-element{
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.resource-filter-label{
  font-size: 20px;
  color: $brown;
  transform: translateY(2px);
}

.resource-filter-button-label{
  margin: 0 5px 0 0;
  color: $brown;
  border-radius: 20px;
}

.resource-filter-button{
  margin: 10px 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: $yellow;
  box-shadow: 0px 4px darken($yellow, 15%);
}

.resource-filter-button:hover{
  background-color: lighten($yellow, 3%);
}

.resource-filter-button:active{
  background-color: darken($yellow, 3%);
  box-shadow: 0 2px darken($yellow, 15%);
  transform: translateY(2px);
}

@media only screen and (max-width: $medium) {
  .resource-filter-element{
    flex-wrap: wrap;
    justify-content: center;
  }
}