<h1>Tasting Center</h1>
<div class="beers-wrapper">
  <% @beers.each_with_index do |beer, index| %>
    <%= render beer, index: index %>
  <% end %>
</div>

<div class="button button-blue what_is_this-button">What!?</div>
<%= link_to '+AddBeer', new_beer_path, class: "button button-green fixed-control" %>
