<div class="sticker sticker-color-<%= post_it.pudding.setting.post_it_color %>"><%= post_it.message %>
        <%= link_to 'Destroy', post_it, class: "link-red", method: :delete, data: { confirm: 'Are you sure?' } %></div>