<div class="modal-display-toggle">
  <div class="modal">
    <div class="modal-outer-wrapper">
      <div class="modal-wrapper">
        <div class="modal-text">
          <%= about_page.html_safe %>
        </div>
          <span class="wrapped-modal-control button button-green">OK</span>
      </div>
    </div>
  </div>
</div>
<script>
  $(".wrapped-modal-control").click(function(){
    $(".modal-display-toggle").fadeOut();
  })
  $(".what_is_this-button").click(function(){
    $(".modal-display-toggle").show();
  })
</script>