<div class="modal-display-toggle">
  <div class="modal">
    <div class="modal-outer-wrapper">
      <div class="modal-wrapper">
        <div class="modal-text">
          <%= about_page.html_safe %>
        </div>
        <div class="wrapped-modal-control">
          <div class="control-outer-wrapper js_things">
            <div class="control-wrapper green-control">
              OK
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".wrapped-modal-control").click(function(){
    $(".modal-display-toggle").fadeOut();
  })
  $(".what_is_this-button").click(function(){
    $(".modal-display-toggle").show();
  })
</script>