.answering-question{
  color: $brown;
  font-size: 60px;
}

.form-field-label.answer{
  margin-top: 40px;
  padding: 0;
}

.answering-text-field{
  border: none;
  background-color: transparent;
  font-size: 50px;
  color: $green;
  text-align: center;
}

.answering-notice{
  font-size: 40px;
  color: $green;
  margin-top: 80px;
}

.answering-alert{
  font-size: 40px;
  color: $red;
  margin-top: 80px;
}


.answering-time-left{
  
}