#clockdiv{
  padding: 5px;
  color: $green;
  font-weight: 100;
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}

.digits-wrapper{
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background: $white;
  margin: 5px;
}

.digits-inner-wrapper{
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  border: 2px dashed $green;
}

.digits{
  padding: 15px;
  border-radius: 3px;
  background: $white;
}

.smalltext{
  color: $red;
  padding-top: 5px;
  font-size: 25px;
}

.digits-pair{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}