.holidays-outer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.holiday-outer-wrapper{
  padding: 5px;
  background-color: $white;
  border-radius: 47px;
  width: 230px;
  margin: auto;
  margin-bottom: 5px;
}

.holiday-inner-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dashed 2px $green;
  background-color: $white;
  padding: 10px;
  font-size: 35px;
  color: $brown;
  border-radius: 45px;
}

.holiday-date-wrapper{
  background-color: $green;
  color: $white;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.red-background{
  background-color: $red;
}

.red-border{
  border: dashed 2px $red;
}


.blue-background{
  background-color: $blue;
}

.blue-border{
  border: dashed 2px $blue;
}

.holiday-day{
  font-size: 100px;
}

.holiday-month{
  font-size: 30px;
}

.holiday-buttons-inner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px $brown;
  border-radius: 40px;
}

.holiday-buttons-outer-wrapper{
  display: none;
  background-color: $white;
  border-radius: 40px;
  width: 150px;
  padding: 5px;
}

.holiday-buttons{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holiday-wrapper{
  min-height: 370px;
  cursor: pointer;
  text-align: center;
}

.holiday-wrapper:hover .holiday-buttons-outer-wrapper{
  display: block;
}

.holiday-countdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holiday-description-wrapper{
  background-color: $white;
  width: 60%;
  padding: 10px;
  border-radius: 200px 200px;
  margin: 45px 0;
}

.holiday-description{
  padding: 50px 20px;
  border: dashed 2px $green;
  border-radius: 200px 200px;
  h1{
    color: $yellow;
  }
  p{
    color: $brown;
    font-size: 30px;
    text-align: center;
  }
}