.patch_note-description-wrapper{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  background: $green;
  color: $brown;
  border-radius: 55px;
  h2{
    color: $red;
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
  }
}
.patch_note-description{
  padding: 40px;
  border: 2px dashed $white;
  border-radius: 50px;
  text-align: center;
  p{
    font-size: 25px;
    text-align: center;
    color: $white;
  }
  .patch_note-date{
    font-size: 18px;
    color: $green;
    display: inline-block;
    margin: auto;
    background-color: $white;
    padding: 3px 10px;
    border-radius: 30px;
  }
}

.about-wrapper{
  h1{
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    color: $red;
  }
  width: 100%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 80px;
  padding: 10px;
  background: $green;
  color: $brown;
  border-radius: 60px;
}
.about{
  padding: 40px 80px;
  border: 2px dashed $white;
  border-radius: 50px;
  p{
    font-size: 25px;
    text-align: center;
    color: $white;
  }
}


@media only screen and (max-width: $medium) {
  .about-wrapper{
    border-radius: 0;
    padding: 10px 0;
  }
  .about{
    border: none;
    border-top: 2px dashed $white;
    border-bottom: 2px dashed $white;
    border-radius: 0;
    padding: 40px 20px;
    h1{
      font-size: 40px;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }
  }

  .patch_note-description-wrapper{
    width: auto;
    margin: 2px;
    padding: 5px;
  }

  .patch_note-description{
    p{
      font-size: 20px;
    }
  }

}