.things-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.thing-outer-wrapper{
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 300px;
  background-color: $white;
  border-radius: 160px 160px 30px 30px;
  padding: 10px;
}

.thing-wrapper{
  position: relative;
  border: 2px $yellow dashed;
  border-radius: 150px 150px 30px 30px;
  height: 100%;
  width: 100%;
}

.thing-description{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  p{
    margin: 0;
    text-align: center;
    color: $brown;
  }
}

.thing-description-small{
  font-size: 30px;
}

.thing-description-normal{
  font-size: 40px;
}


.thing-bottom-part{
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.thing-hardness{
  color: $blue;
  margin-bottom: 10px;
  font-size: 25px;
}

.thing-done-date{
  color: $green;
  text-align: center;
  margin-top: 45px;
  min-height: 28px;
}

.thing-description-line_through{
  text-decoration: line-through;
}