.tournaments-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.tournament-outer-wrapper{
  width: 300px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  margin: 10px;
  svg{transition: all ease-in 0.3s;}
}

.tournament-outer-wrapper:hover{
  svg{
    transform: rotate(15deg);
    transition: all ease-out 0.3s;
  }
}

.tournament-inner-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-radius: 30px;
  p{
    color: $brown;
    font-size: 1.4rem;
    margin: 5px 0;
  }
  h3{
    color: $yellow;
  }
}

.die-active{
  fill: $green;
}

.die-finished{
  fill: $yellow;
}

.die{
  margin-bottom: 10px;
}

.tournament-active{
  border: 2px $green dashed;
}

.tournament-finished{
  border: 2px $yellow dashed;
}

.tournament-winner{
  width: 100%;
  text-align: center;
}

.tournament-score{
  display: flex;
  justify-content: center;
}

.tournament-show-title-outer-wrapper{
  margin: 15px;
  padding: 15px;
  background-color: $white;
  border-radius: 40px;
}

.tournament-show-title-wrapper{
  border:2px dashed $brown;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $brown;
  text-align: center;
}

.tournament-show-title{
  color: $yellow;
  font-size: 70px;
}

.tournament-show-dates{
  font-size: 25px;
}

.tournament-show-links{
  position: absolute;
  top: 0;
  right: 0;
}

.tournament-pudding-score-outer-wrapper{
  margin: 20px;
  width: 250px;
  height: 250px;
  color: $brown;
  padding: 15px;
  background-color: $white;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.tournament-pudding-score-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed $brown;
  border-radius: 50px;
}

.tournament-pudding-score{
  font-size: 100px;
  color: $blue;
}

.winning{
  color: $green;
}

.losing{
  color: $red;
}

.tie{
  color: $blue;
}

.tournament-pudding-name{
  font-size: 40px;
}

@media only screen and (max-width: $medium) {
  .tournament-outer-wrapper{
    margin: auto;
  }
  .tournament-show-title{
    font-size: 50px;
  }
  .tournament-pudding-score{
    font-size: 50px;
  }
  .tournament-pudding-name{
    font-size: 25px;
  }
  .tournament-show-title-outer-wrapper{
    padding: 5px;
    border-radius: 30px;
  }
  .tournament-pudding-score-outer-wrapper{
    width: 150px;
    height: 150px;
    border-radius: 35px;
    padding: 5px;
  }
  .tournament-pudding-score-wrapper{
    border-radius: 30px;
  }
}