<% flash.each do |name, msg| %>
  <div class="notification-wrapper <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
    <% if msg.is_a?(String) and msg.length > 0 %>
          <div class="notification js_close_flash">
            <div data-alert>
              <%= msg %>
            </div>
          </div>
    <% end %>
  </div>
<% end %>

<script>
$(function(){
  $(".notification-wrapper").css("width", "300px");
  $(".js_close_flash").fadeIn(800);
  $(".js_close_flash").delay(4500).fadeOut();
  $(".notification-wrapper").delay(5000).fadeOut(800);
});
</script>